# Environment Variables
# Vize gereği .env dosyası repoya pushlanabilmesi için ignore silindi.
*.env

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/
